.person {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.phoneNumber {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 6px;
}

.p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
